* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Lobster', cursive; */
}

body {
  font-family: "Montserrat", sans-serif;
}

:is(h3, h4, a) {
  color: rgba(56, 56, 56);
}

h3 {
  font-size: 1.5rem;
  margin: 2rem 0;
  line-height: 2.5rem;
}

h4 {
  font-size: 1rem;
}
